button.primary {
    /* Primary-button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    margin-top: 8px;

    position: relative;

    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border: 1px solid rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

button.primary:hover {
    background: #60C2AA;
}

label {
    /* label */


    width: 47px;
    height: 24px;

    /* Body / 16px medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;


    /* Gray / White */

    color: #FFFFFF;
    background: transparent;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}