.cell {
    width: 218.33px;
    height: 218.33px;

    /* Gray / White */

    background: #FFFFFF;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}