@import '../../variables.css';

.h1-reusable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    /* Gray / 700 */

    color: #373745;
    margin: 0;
}