.subject-list .subject-name {
    /* Headers / H2 – regular */
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;

    /* Gray / 700 */

    color: #373745;
}