@import '../variables.css';

* {
    background: #FFFFFF;
    margin: 0;
}

.react-page {
    background: #E5E5E5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.modal {
    /* modal */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    
    gap: 12px;

    position: absolute;
    width: 400px;
    height: 464px;
    top: 37.916667%;
    bottom: 37.916667%;
    /*left: 760px;
    top: 308px;*/

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

img {
    width: 132px;
    height: 132px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

button {
    /* Primary-button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    margin-top: 8px;

    position: relative;

    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border: 1px solid rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

button:hover {
    background: #60C2AA;
}

