@import '../variables.css';

* {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    color: #373745;
    box-sizing: border-box;
    vertical-align: middle;
}

.react-page {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

.table-container {
    left: calc(50% - 1074px/2);
    width: 1074px;
}

td:nth-child(1), th:nth-child(1) {
    width: 678px;
}
  
td:nth-child(2), th:nth-child(2) {
    width: 160px;
}