@import '../variables.css';

* {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    color: #373745;
    box-sizing: border-box;
    vertical-align: middle;
}

.react-page {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

button.primary {
    width: 173px;
}

.table-container {
    width: 1416px;
    left: calc(50% - 1416px/2);
}

tr {
    height: 64px;
}

td:nth-child(1), th:nth-child(1) {
    width: 440px;
}
  
td:nth-child(2), th:nth-child(2) {
    width: 108px;
}

td:nth-child(3), th:nth-child(3) {
    width: 46px;
}

td:nth-child(4), th:nth-child(4) {
    width: 152px;
}

td:nth-child(5), th:nth-child(5) {
    width: 160px;
}

td:nth-child(6), th:nth-child(6) {
    width: 160px;
}

td:nth-child(7), th:nth-child(7) {
    width: 174px;
}