@import '../variables.css';

* {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    color: #373745;
    box-sizing: border-box;
}

.react-page {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

.table-container {
    width: 1026px;
    left: calc(50% - 1026px/2);
}

td:nth-child(1), th:nth-child(1) {
    width: 440px;
}
  
td:nth-child(2), th:nth-child(2) {
    width: 108px;
}
  
td:nth-child(3) {
    width: 108px;
    color: #69B849;;
}
  
td:nth-child(4) {
    width: 108px;
    color: #E93E3E;
}
  
td:nth-child(5), th:nth-child(5) {
    width: 134px;
}