header {
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

button.signout {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-panel {
    /* Auto layout */

    display: flex;
    align-items: center;
    gap: 16px;

    height: 32px;
}