@import '../../variables.css';

.textfield {
    
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    /* Gray / White */

    background: #FFFFFF;
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text {
    width: 312px;
    height: 24px;

    /* Body / 16px regular */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    border: 0;
    outline: none;

    display: flex;
    
    align-items: center;
    letter-spacing: 0.24px;

    /*color: #B1B1B7;*/
    color: black;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}