.table-container {
    display: inline-block;
    padding: 32px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    z-index: -1;
    overflow: auto;
    position: absolute;
    margin-top: 80px;
}

table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
}

th, td {
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEFF5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
  
th {
    font-weight: 500;
    text-align: left;
}