.vs {
    width: 55px;
    height: 48px;

    /* Headers / H3 – bold */
    padding-left: 44px;
    padding-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
}