@import '../../variables.css';

.nav-panel div {
    padding: 4px 12px;


    /* Body / 16px medium */

    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    /* identical to box height, or 150% */

    /* Gray / 700 */

    color: #373745;
}

.nav-panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: var(--x-color);
    border-radius: 200px;
    color: white;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}