@import '../../variables.css';

.msg-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    width: 328px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: -webkit-fill-available;
}

.fullname {
    /* Body / 14px medium */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
}

.fullname.x {
    color: var(--x-color);
}

.fullname.zero {
    color: var(--o-color);
}

.msg-header .time {
    /* Body / 14px regular */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.25px;

    /* Gray / 400 */

    color: #898993;
}